@CHARSET "UTF-8";
.autocomplete_live {
    background:#fff none repeat scroll 0%;
    clear:both;
    cursor:pointer;
    display:block;
    margin:0px;
    padding:0px;
    z-index:9999;
}

.autocomplete_live ul {
    clear:both;
    display:block;
    list-style-type:none;
    margin:0px;
    padding:0px;
    position:absolute;
    width:100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.autocomplete_live li {
    border-bottom:1px solid #C0C0C0;
    display:block;
    list-style-type:none;
    margin:0px;
    padding:8px;
    font-size:10pt;	
} 
.autocomplete_live li:hover{
    background-color: buttonface;
}