
.btn-azul.active {
  color: rgba(255, 255, 255, 0.75);
}


.btn-azul {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active,
.btn-azul.active,
.btn-azul.disabled,
.btn-azul[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-azul:active,
.btn-azul.active {
  background-color: #003399 \9;
}

.btn-group.open .btn-azul.dropdown-toggle {
  background-color: #0044cc;
}

.btn-azul .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

    .btn-second {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-second:hover,
.btn-second:focus,
.btn-second.focus,
.btn-second:active,
.btn-second.active,
.open > .dropdown-toggle.btn-second {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-second:active,
.btn-second.active,
.open > .dropdown-toggle.btn-second {
  background-image: none;
}
.btn-second.disabled,
.btn-second[disabled],
fieldset[disabled] .btn-second,
.btn-second.disabled:hover,
.btn-second[disabled]:hover,
fieldset[disabled] .btn-second:hover,
.btn-second.disabled:focus,
.btn-second[disabled]:focus,
fieldset[disabled] .btn-second:focus,
.btn-second.disabled.focus,
.btn-second[disabled].focus,
fieldset[disabled] .btn-second.focus,
.btn-second.disabled:active,
.btn-second[disabled]:active,
fieldset[disabled] .btn-second:active,
.btn-second.disabled.active,
.btn-second[disabled].active,
fieldset[disabled] .btn-second.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-second .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-verde {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #00cc0d);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}




