.spmodificado{ /* Selecte Plantao Modificado**/
    background-color: orange;
}

.spOpcao{ /* Selecte Plantao Opções**/
    background-color: #ffffcc;    
}

.spGrafite{ /* Selecte Plantao **/
    background-color:#CCCCCC;    
}

.spremover{ /* Selecte remover **/
    background-color: #ffffcc;    
}